#wrapper-loader {
    position: fixed;
    inset: 0;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    border: 5px solid;
    height: 100px;
    width: 100px;
    border-color: red;
    border-top-color: transparent;
    border-radius: 50%;
    animation: load infinite 1s  linear;
}

@keyframes load {

    20%{
        border-color: gold;
        border-top-color: transparent;
    }

    60%{
        border-color: blue;
        border-top-color: transparent;
    }

    100%{
        transform: rotate(360deg);
    }
}